{% extends "base.html" %}

{% block app_content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="media">
            <a href="https://github.com/Christian-Bull">
                <img class="mr-3" src="{{url_for('static', filename='broccoli.jpeg')}}" width="200px">
            </a>
            <div class="media-body">
                <br>
                Disclaimer - I am not a web developer, 
                just trying out a few new things
                Click the broccoli for this sites github repo
            </div>
        </div>
    </div>
</div>
{% endblock %}